{% extends 'index.html' %}

{% block content %}

<h1 style="color: darkviolet">Suppliers</h1>

<br />
<div id="add-div"></div>
<br />

<div id="supplier-listing">

<button class="btn btn-success btn-sm" onclick="showaddform()">Add new supplier</button>

<br /> <br />

<a href="/suppliers/" class="btn btn-primary btn-sm">Show all Suppliers</a>

<button onclick="abc()" class="btn btn-warning btn-sm">Tee abc alertointi</button>


<br /> <br />

<!-- Hakukenttä -->
<form method="post" action="/search-suppliers/">

    {%csrf_token %}
    <input class="card-text" class="card-text" type="text" placeholder="search by companyname" name="search">

    <input type="submit" value="Search" class="btn btn-success btn-sm" name="">
</form>
<br />

{% for s in suppliers %}
<div class="card" style="width: 50rem;">
    <div class="card-body">
        <h4 class="card-title">{{s.companyname}}</h4>
        <p class="card-text">{{s.contactname}} | phone: {{s.phone}} | email: {{s.email}} </p>
        <p class="card-text">Address: {{s.address}} | Country: {{s.country}}</p>

        <a class="btn btn-primary">Edit</a>

        <a href="/confirm-delete-supplier/{{s.id}}/" class="btn btn-danger">Delete</a>

        <a href="/products-by-supplier/{{s.id}}/" class="btn btn-secondary">{{s.companyname}} Products</a>
    </div>
</div>

{% empty %}
<h3>Search didn´t match any of Suppliers.</h3>

{% endfor %}

</div>

<script>

    let x = `
    <h2 style="color: lightblue">Please fill in form</h2>
    
    <div class="card" style="width: 20rem;">
        <div class="card-body">
            <form method="post" action="/add-supplier/">
    
                {% csrf_token %}
                <input class="card-text" class="card-text" type="text" placeholder="company´s name" name="companyname">
                <input class="card-text" type="text" placeholder="contact person" name="contactname">
                <input class="card-text" type="text" placeholder="address" name="address">
                <input class="card-text" type="text" placeholder="phone" name="phone">
                <input class="card-text" type="text" placeholder="email" name="email">
                <input class="card-text" type="text" placeholder="country" name="country">
                <br/>
                <input type="submit" value="Confirm" class="btn btn-success btn-sm" name="">
                <input type="submit" id="hide-btn" class="btn btn-secondary btn-sm" onclick="hideaddform()" value="Cancel" name="">
            </form>
        </div>
    </div>`

    function showaddform() {
        document.getElementById("add-div").innerHTML = x
        $("#supplier-listing").hide(500)
    }

    function hideaddform() {
        document.getElementById("add-div").innerHTML = ""
        $("#supplier-listing").show(500)
    }

</script>


{% endblock %}